main {
    // width: 90vw;
    margin: 120px auto 0 auto;
    
    
}

.cell {
    border: 1px solid rgba(141, 141, 141, 0.349);
    margin: 0;
    padding: 0;
    line-height: 1;
    
}
.cursor-overlay {
  position: absolute;
  pointer-events: none; /* Assicurati che i clic passino attraverso */
}

.cross {
  color: red; /* Cambia il colore come preferisci */
  font-size: 24px; /* Dimensione della 'X' */
  transform: translate(-50%, -50%); /* Centra l'elemento */
}