header {
    background-color: var(--green);
    color: var(--white);
    padding: 1rem;
    font-size: 20px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

