//tooltip

.tooltip-container {
  position: relative;
  transition: all 0.2s;
  font-size: 17px;
  box-sizing: border-box;
  --bg: linear-gradient(135deg, var(--beige), var(--pink));
  --color: #fff;
  --tooltip-bg: var(--dark-blue);
  --tooltip-color: #fff;
  --margin: 0.5rem;
  
}

.text {
  z-index: 9;
  background: var(--bg);
 
  color: var(--color);
  padding: 0.7em 1.8em;
  border-radius: 0.75rem;
  display: inline-block;
  width: 78px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 1px 1px 5px 1px black ;

  &:active {
    scale: .9;
  }
}

.tooltip {
  position: absolute;
   font-weight: bold;
  bottom: -10px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%) translateY(0%) scale(0);
  padding: 1rem ;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  background: var(--tooltip-bg);
  color: var(--tooltip-color);
  border-radius: 0.5rem;
  z-index: 2;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  top: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: var(--tooltip-bg);
  border-bottom-right-radius: 0.175rem;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(100%) scale(1);
}
