@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f2f2ee;
  --beige: #b1ab90;
  --pink: #a35b64;
  --blue: #366fa5;
  --green: #141613;
  --dark-blue: #153655;
}

body {
  /* overflow: hidden; */
  font-family: "Dosis", sans-serif;
  background: rgb(97, 194, 196);
  background: linear-gradient(
    0deg,
    rgba(97, 194, 196, 1) 0%,
    rgba(191, 236, 135, 1) 100%
  );
  background-repeat: repeat-x;
  min-height: 86.8vh;
  /* min-width: 100vw; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}