@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f2f2ee;
  --beige: #b4b09f;
  --pink: #90656a;
  --blue: #8895a1;
  --green: #1e211d;
  --light-green: #404b3c;
}

body {
  overflow: hidden;
  font-family: "Dosis", sans-serif;
  
}